:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    --cursor: default;

    background: #f5f5f5;
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;

    cursor: var(--cursor);
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
    filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

d-tools {
    display: flex;
    gap: 8px;
    user-select: none;
    background: #fff;
    padding: 8px;
    border-radius: 12px;
    box-shadow: 1px 1px 5px #9999996e;

    button {
        background: none;
        padding: 6px;

        &:hover {
            background-color: #f9f9f9;
        }
    }
}

d-frame {
    position: absolute;
    background: #fff;
    border: 1px solid #333;
}

d-frame-icon {
    display: block;
    width: 16px;
    height: 16px;
    background-size: 8px 8px;
    background-position: 3px;
    background-image:
        linear-gradient(to right, grey 1px, transparent 1px),
        linear-gradient(to bottom, grey 1px, transparent 1px);
}

d-tooltip {
    display: none;
    background: #333;
    color: #fff;
    padding: 4px 6px;
    border-radius: 6px;
    font-size: 14px;
    height: 20px;
    line-height: 20px;

    position: absolute;
    position-area: top center;
}

#move {
    padding: 6px 10px;
}

#move svg {
    height: 18px;
    width: 18px;
}

d-tools:has(#frame:hover) {
    d-tooltip[for="frame"] {
        display: block;
        position-anchor: --frame-button;
    }
}

d-tools:has(#move:hover) {
    d-tooltip[for="move"] {
        display: block;
        position-anchor: --move-button;
    }
}

d-tools:has(#rectangle:hover) {
    d-tooltip[for="rectangle"] {
        display: block;
        position-anchor: --rectangle-button;
    }
}

#frame {
    anchor-name: --frame-button;
}
#move {
    anchor-name: --move-button;
}
#rectangle {
    anchor-name: --rectangle-button;
}

d-rectangle-icon {
    display: block;
    border: 1px #333 solid;
    width: 16px;
    aspect-ratio: 1/1;
    border-radius: 3px;
}
